server:
  port: 8082

spring:
  mongodb:
    uri: mongodb://localhost:27017/rating_db

eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      default-zone: http://localhost:8761/eureka
