server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/micro_hotel_db
    username: root
    password: theboy$G$Kpc2

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      default-zone: http://localhost:8761/eureka